body {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c60ff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #0b3fb8;
}

button {
  background: none;
}

a {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: rgb(0, 28, 151) !important;
}
